VITE_FORM_ENDPOINT=https://formspree.io/f/REPLACE_WITH_YOUR_ID
# VITE_FORM_ENDPOINT=https://api.web3forms.com/submit
# VITE_WEB3FORMS_ACCESS_KEY=REPLACE_WITH_YOUR_KEY
VITE_USE_MAP_EMBED=false
VITE_HIDE_EXPIRED_CERTS=false
